@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
	padding: 8px;
	height: 500px; /* Should be removed. Only for demonstration */
}

.ad {
	/*border: 3px solid rgb(0, 0, 0);*/
	width: 720px;
	height: 750px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	top: 80%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 20px;
}

footer {
	position: absolute;
	top: 1000px;
	background: #ffffff;
	width: 100%;
}
.foot{
position: relatives;
	top: 900px;
	background: #ffffff;
	width: 100%;
}
.main-content {
	color: black;
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 30px;
}

.box h2 {
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .footercontent {
	margin: 15px 0 0 0;
}

.l .footercontent .social {
	margin: 15px 0 0 0;
}

.l .footercontent .p {
	text-align: justify;
}

.l .footercontent .social a {
	padding: 0 2px;
}

.l .footercontent .social a span {
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 10px;
	transition: 0.3s;
	color: white;
}

.l .footercontent .social a span:hover {
	background: #ff8000;
}
.menu
{
color:black;
}